.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

$primary-color: #3EA1D1;
$font-color: #333;

body {
  font-family: メイリオ;
  color: $font-color;
  font-size: 20px;
  line-height: 1.6875;
  height: 800px;
  margin: 0;
}

.show {
  text-align: center;
  font-size: 14px;
    h2 {
      font-size: 36px;
      margin: 50px 0 80px 0;
      span {
        background:rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #ffffbc 0%) repeat scroll 0 0;
      }
    }
    .show-group {
      display: flex;
      align-items: center;
      .show-left {
        margin-top: 50px;
        width: 25%;
        .show-title {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
          .title {
            font-weight: bold;
            margin: 0;
          }
          .title-name {
            background:rgba(0, 0, 0, 0) linear-gradient(transparent 90%, #ffb2d8 0%) repeat scroll 0 0;
          }
        }
        .show-times {
          display: flex;
          justify-content: center;
          .time {
            font-weight: bold;
            margin: 0;
          }
          .time-name {
            background:rgba(0, 0, 0, 0) linear-gradient(transparent 90%, #89c1fa 0%) repeat scroll 0 0;
            margin-bottom: 20px;
          }
        }
        .alert {
          span {
            color: red;
            font-size: 12px;
          }
        }
        a {
          text-decoration: none;
          color: $font-color;
        }
        a:hover {
          font-weight: bold;
        }
      }
    }
  }
