@charset "UTF-8";
.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: メイリオ;
  color: #333;
  font-size: 20px;
  line-height: 1.6875;
  height: 800px;
  margin: 0;
}

.board {
  text-align: center;
  font-size: 14px;
}

.board h2 {
  font-size: 36px;
  margin: 50px 0 80px 0;
}

.board h2 span {
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #ffffbc)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #ffffbc 0%) repeat scroll 0 0;
}

.board .board-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.board .board-group .board-post {
  width: 30%;
  margin-top: 30px;
}

.board .board-group .board-post .style {
  font-weight: bold;
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(0%, #ffb2d8)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 80%, #ffb2d8 0%) repeat scroll 0 0;
}

.board .board-group .board-post .times {
  font-weight: bold;
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(0%, #89c1fa)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 80%, #89c1fa 0%) repeat scroll 0 0;
}

.board .board-group .board-post .submit {
  margin: 30px 0 20px 0;
}

.board .board-group .board-post .submit .send {
  background-color: #fff;
  text-align: center;
  border: 2px #e7e749 solid;
  width: 200px;
}

.board .board-group .board-post .submit .send:hover {
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
  border: none;
  background-color: #f7fd9e;
  width: 240px;
  height: 30px;
  border: 2px #e7e749 solid;
}

.board .board-group .board-post .caution {
  font-size: 12px;
}

.board .board-group .board-post .caution span {
  font-size: 10px;
  color: red;
}

.board .board-group .board-post .top {
  text-decoration: none;
  color: #333;
}

.board .board-group .board-post .top:hover {
  font-weight: bold;
}

.board .board-group .board-post .saving {
  padding-top: 20px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(0%, #ffffbc)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 80%, #ffffbc 0%) repeat scroll 0 0;
}

.calendar {
  width: 70%;
}

.calendar .calendar-heading .calendar-title {
  font-size: 26px;
  margin: 0 30px;
}

.calendar .b-title {
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(0%, #ffb2d8)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 80%, #ffb2d8 0%) repeat scroll 0 0;
}

.calendar .s_time {
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(0%, #89c1fa)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 80%, #89c1fa 0%) repeat scroll 0 0;
}

.calendar a {
  text-decoration: none;
  color: #333;
}

.calendar a:hover {
  font-weight: bold;
}

.calendar .user_name {
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(0%, #92fa89)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 80%, #92fa89 0%) repeat scroll 0 0;
}
/*# sourceMappingURL=board-index.css.map */