@charset "UTF-8";
.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

body {
  font-family: メイリオ;
  color: #333;
  font-size: 20px;
  line-height: 1.6875;
  height: 800px;
  margin: 0;
}
