@charset "UTF-8";
.inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: メイリオ;
  color: #333;
  font-size: 20px;
  line-height: 1.6875;
  height: 800px;
  margin: 0;
}

.chat-top {
  position: -webkit-sticky;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 100;
}

.chat-top .chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-top .chat-header .header-logo #image {
  width: 200px;
  padding-top: 10px;
}

.chat-top .chat-header .header-top {
  font-size: 32px;
  text-align: center;
  width: calc(100% - 410px);
}

.chat-top .chat-header .header-top p span {
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #ffffbc)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #ffffbc 0%) repeat scroll 0 0;
}

.chat-top .chat-header .chat-finish {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  padding: 80px 0 0 0;
}

.chat-top .chat-header .chat-finish a {
  text-decoration: none;
  color: #333;
}

.chat-top .chat-header .chat-finish a:hover {
  color: red;
  font-weight: bold;
}

.chat-page {
  background-color: #e9eccd;
  border-radius: 10px 10px 0 0;
  padding: 20px 0 30px 0;
  height: calc(100vh - 70px);
  overflow: scroll;
}

.chat-page .user_sign .c_message .message-time {
  font-size: 8px;
}

.chat-page .user_sign .c_message .message-content {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 8px 8px 8px 0;
  background-color: #f5fc97;
  padding: 5px;
}

.chat-page .user_sign .c_message .image {
  width: 300px;
  height: 250px;
}

.chat-page .user_sign .c_message .video {
  width: 300px;
  height: 250px;
}

.chat-page .user_sign .u_message {
  text-align: right;
}

.chat-page .user_sign .u_message .message-content {
  border: 1px solid black;
  border-radius: 8px 8px 0 8px;
  background-color: #8dfad0;
  padding: 5px;
}

.chat-page .user_sign .u_message .message-time {
  font-size: 8px;
}

.chat-page .user_sign .u_message .image {
  width: 300px;
  height: 250px;
  margin: 0 0 0 auto;
}

.chat-page .user_sign .u_message .video {
  width: 300px;
  height: 250px;
  margin: 0 0 0 auto;
}

.chat-page .coach_sign .coach_message {
  text-align: right;
}

.chat-page .coach_sign .coach_message .message-time {
  font-size: 8px;
}

.chat-page .coach_sign .coach_message .message-content {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 8px 8px 0 8px;
  background-color: #8dfad0;
  padding: 5px;
}

.chat-page .coach_sign .coach_message .image {
  width: 300px;
  height: 250px;
  margin: 0 0 0 auto;
}

.chat-page .coach_sign .coach_message .video {
  width: 300px;
  height: 250px;
  margin: 0 0 0 auto;
}

.chat-page .coach_sign .user_message .message-content {
  border: 1px solid black;
  border-radius: 8px 8px 8px 0;
  background-color: #f5fc97;
  padding: 5px;
}

.chat-page .coach_sign .user_message .message-time {
  font-size: 8px;
}

.chat-page .coach_sign .user_message .image {
  width: 300px;
  height: 250px;
}

.chat-page .coach_sign .user_message .video {
  width: 300px;
  height: 250px;
}

#form {
  padding-bottom: 50px;
}

.form {
  background-color: #f5fab6;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 10px 10px;
}

.form .image-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
}

.form .image-video .form-image {
  margin-right: 20px;
}

.form .image-video .form-image .hidden {
  display: none;
}

.form .image-video .form-image:hover {
  cursor: pointer;
}

.form .image-video .form-video {
  margin-right: 20px;
}

.form .image-video .form-video .hidden {
  display: none;
}

.form .image-video .form-video:hover {
  cursor: pointer;
}

.form .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form .form-content .contents {
  width: calc(100% - 100px);
  height: 35px;
  padding: 0 10px;
  margin-right: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.form .form-content .submit {
  width: 60px;
  border: none;
  background-color: transparent;
  font-size: 48px;
  color: #98f3ee;
  margin-top: 5px;
}

.form .form-content .submit:hover {
  cursor: pointer;
  color: #53f0e8;
}

.chat-finish {
  background-color: #fff;
  height: 30px;
  padding-bottom: 50px;
}
/*# sourceMappingURL=debate_comment.css.map */